@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Open Sans", "Nunito", "Helvetica Neue", Helvetica, sans-serif;
    @apply bg-dark  font-normal antialiased;
    -webkit-tap-highlight-color: transparent;
  }

  h1 {
    @apply text-4xl  md:text-5xl font-thin mb-3;
  }
  h2 {
    @apply text-3xl md:text-4xl mb-3;
  }

  h3 {
    @apply text-2xl md:text-3xl;
  }

  h4 {
    @apply text-xl md:text-2xl;
  }

  p {
    @apply text-justify mb-4;
  }

  a {
    @apply px-4 py-1 focus:outline-none font-normal;
  }

  p > a {
    @apply text-primary-blue px-0 font-medium;
  }

  .bg-gradient {
    @apply bg-gradient-to-tr from-secondary-blue to-primary-blue;
  }
  .text-gradient {
    @apply bg-clip-text bg-gradient text-transparent;
  }

  .grid-nav-content {
    @apply grid;
    grid-template-rows: auto 1fr;
  }

  .monospaced {
    font-family: "Inconsolata", monospace;
  }
}

@layer components {
  .btn {
    @apply cursor-pointer px-4 py-2 uppercase align-middle tracking-widest rounded-full text-sm text-center font-normal flex flex-row items-center focus:outline-none shadow focus:shadow-none transform hover:-translate-y-1 transition duration-300 ease-in-out hover:shadow-lg;
  }

  .btn-outline {
    @apply border dark:border-gray-100 border-dark;
  }

  .btn-primary {
    @apply bg-gradient text-white;
  }


  .readme-box  img {
    @apply inline-block
  }

  .readme-box  pre {
    @apply p-1 px-3 my-3 dark:bg-dark-lighter bg-gray-50 rounded-md 
  }

}
