@mixin for-phone-only {
  @media (max-width: 599px) {
    @content;
  }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) {
    @content;
  }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) {
    @content;
  }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) {
    @content;
  }
}

@import "custom";
@import "~bootstrap/scss/bootstrap";
@import "~rfs/scss";
@import "./assets/styles/about";
@import "./assets/styles/projects";
@import "./assets/styles/mock";
@import "./assets/styles/nav";
@import "./assets/styles/notFound";

.display-2 {
  font-weight: 300;
  letter-spacing: 0.2rem;
  @include font-size(2rem);
  text-transform: uppercase;
}

h1 {
  display: inline;
}

h3 {
  font-weight: 400;
  line-height: 1.4;
}

h4 {
  font-weight: 300;
}

.display-1 {
  text-transform: uppercase;
  @include font-size(3rem !important);
  line-height: 1.5 !important;
}
.subtitle {
  font-weight: 700;
  @include font-size(2rem);
  color: white;
}
.subtitle-2 {
  font-weight: 300;
  @include font-size(1.5rem);
  color: transparentize(white, 0.4);
  letter-spacing: 1.5px;
}

.btn {
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  border-radius: 3rem;
  @include font-size(0.8rem);
  padding: 0.5rem 0.9rem;
}

.btn.bg-gradient {
  border: 0;
  background: $blue-gradient;
  &:hover {
    background: linear-gradient(
      to left,
      darken($blue, 5),
      darken($second-blue, 5)
    );
  }
}

blockquote {
  // border-left: 5px solid transparentize($white, 0.1);
  quotes: "“" "”" "‘" "’";
  font-style: italic;
  padding-left: 1rem;
  &:before {
    content: open-quote;
  }
  &:after {
    content: close-quote;
  }
  &:after,
  &:before {
    color: transparentize($white, 0.1);
  }
}
