.mock-container {
  &-lg {
    overflow: visible;
    border-radius: 50%;
    background: $blue-gradient;
    height: 40vw;
    width: 40vw;
    max-width: 30rem;
    max-height: 30rem;
    & img {
      width: 60vw;
      max-width: 40rem;
      display: block;
      margin: auto;
      margin-left: 50%;
      transform: translateX(-50%);
    }
  }
  &-sm {
    overflow: visible;
    border-radius: 50%;
    background: $blue-gradient;
    height: 50vw;
    width: 50vw;
    max-width: 20rem;
    max-height: 20rem;

    & img {
      width: 70vw;
      max-width: 30rem;
      display: block;
      margin: auto;
      margin-left: 50%;
      transform: translateX(-50%);
    }
  }
}

.angle-90 {
  -moz-transform: rotate(90deg) !important;
  -webkit-transform: rotate(90deg) !important;
  -o-transform: rotate(90deg) !important;
  -ms-transform: rotate(90deg) !important;
  transform: rotate(90deg) !important;
  transform-origin: 25% 10%;
}
