video {
  &.vertical {
    height: 55vh;
    display: block;
    margin: auto;
    margin-left: 50%;
    transform: translate(-50%, -15%);
    &.lg {
      height: 70vh;
    }
  }
  &.horizontal {
    width: 60vw;
    max-width: 40rem;
    display: block;
    margin: auto;
    margin-left: 50%;
    transform: translateX(-50%);
  }
}

.mock-container {
  &-lg {
    overflow: visible;
    border-radius: 50%;
    background: $blue-gradient;
    height: 40vw;
    width: 40vw;
    max-width: 30rem;
    max-height: 30rem;
    & img {
      &.horizontal {
        width: 60vw;
        max-width: 40rem;
        display: block;
        margin: auto;
        margin-left: 50%;
        transform: translateX(-50%);
      }
      &.vertical {
        height: 55vh;
        display: block;
        transform: translate(5%, -20%);
      }
    }
  }
  &-sm {
    overflow: visible;
    border-radius: 50%;
    background: $blue-gradient;
    height: 50vw;
    width: 50vw;
    max-width: 20rem;
    max-height: 20rem;

    & img {
      &.horizontal {
        width: 70vw;
        max-width: 30rem;
        display: block;
        margin: auto;
        margin-left: 50%;
        transform: translateX(-50%);
      }
      &.vertical {
        height: 55vh;
        display: block;
        margin: auto;
        margin-left: 50%;
        transform: translate(-50%, -20%);
      }
    }
  }
}
